---
title: Quartino API Reference

language_tabs:
  - shell: cURL
  - ruby: Ruby

toc_footers:
  - <a href='mailto:jaywir3@gmail.com?subject=Quartino Developer Key&body=I would like to request a developer key.%0D%0A%0D%0AName:%0D%0AApp Name:%0D%0AEmail:%0D%0A'>Sign Up for an API Key</a>
  - Using Decanter by Martina Krasnayová from the Noun Project
---

# Introduction

Welcome to Quartino! This is the web service for QR-Invited. Before working with the Quartino API, you'll need to register and get an application/api key from our administrators. This key serves to identify you as a developer within our systems, and to track usage of our API by application.

# Authentication

Most of the API requires that a user be authenticated prior to making subsequent calls. Any call requiring an authorization token (auth token) requires that the authentication procedure be completed prior to that call. Authenticated API calls require an auth token and user id, which are obtained from the following endpoint:

## Login with Username and Password in Body

> Example Request

```ruby
```

```shell
curl "<%= @api_prefix %>/login" --data '{"username": "jbuffett", "password": "abcdef"}' \
  -H "X-Api-Key: <%= @api_key %>"
```

> Example Response

```json

<%= print_json data.objects['user'] %>

```

This endpoint retrieves user data (including auth_token) for a specific user.

### HTTP Request

`POST /login`

### Headers

Header    | Value   | Description
--------- | ------- | -----------
X-Api-Key | `api_key` | API key for your application |

### Parameters

Parameter | Default | Description
--------- | ------- | -----------
username | none | The username of the user to authenticate with
password | none | The password of the user to authenticate with

<aside class="note">
  These parameters can be combined and sent as an authorization header using Base64-encoding. See [Login with Authorization Header](#login-with-authorization-header) for more information.</aside>

## Login with Authorization Header

> Example Request

```ruby
```

```shell
curl "<%= @api_prefix %>/login" \
  -H "X-Api-Key: <%= @api_key %>" \
  -H "Authorization: Basic amJ1ZmZldHQ6YWJjZGVm"
```

> Example Response

```json

<%= print_json data.objects['user'] %>

```

This endpoint retrieves user data (including auth_token) for a specific user.

### HTTP Request

`POST /login`

### Headers

Header    | Value   | Description
--------- | ------- | -----------
X-Api-Key | `api_key` | API key for your application |
Authorization | Basic `base64(username + ":" + password)` | Base64-encoded username and password

### Parameters

No parameters are required for this API method.

<aside class="note">
  This login can also be sent in separate username/password format in the body. See [Login with Username and Password in Body](#login-with-username-and-password-in-body) for more information
</aside>

# Kittens

## Get All Kittens

```ruby
require 'kittn'

api = Kittn::APIClient.authorize!('meowmeowmeow')
api.kittens.get
```

```python
import 'kittn'

api = Kittn.authorize('meowmeowmeow')
api.kittens.get()
```

```shell
curl "http://example.com/api/kittens"
  -H "Authorization: meowmeowmeow"
```

> The above command returns JSON structured like this:

```json
[
  {
    "id": 1,
    "name": "Fluffums",
    "breed": "calico",
    "fluffiness": 6,
    "cuteness": 7
  },
  {
    "id": 2,
    "name": "Isis",
    "breed": "unknown",
    "fluffiness": 5,
    "cuteness": 10
  }
]
```

This endpoint retrieves all kittens.

### HTTP Request

`GET http://example.com/kittens`

### Query Parameters

Parameter | Default | Description
--------- | ------- | -----------
include_cats | false | If set to true, the result will also include cats.
available | true | If set to false, the result will include kittens that have already been adopted.

<aside class="success">
Remember — a happy kitten is an authenticated kitten!
</aside>

## Get a Specific Kitten

```ruby
require 'kittn'

api = Kittn::APIClient.authorize!('meowmeowmeow')
api.kittens.get(2)
```

```python
import 'kittn'

api = Kittn.authorize('meowmeowmeow')
api.kittens.get(2)
```

```shell
curl "http://example.com/api/kittens/3"
  -H "Authorization: meowmeowmeow"
```

> The above command returns JSON structured like this:

```json
{
  "id": 2,
  "name": "Isis",
  "breed": "unknown",
  "fluffiness": 5,
  "cuteness": 10
}
```

This endpoint retrieves a specific kitten.

<aside class="warning">If you're not using an administrator API key, note that some kittens will return 403 Forbidden if they are hidden for admins only.</aside>

### HTTP Request

`GET http://example.com/kittens/<ID>`

### URL Parameters

Parameter | Description
--------- | -----------
ID | The ID of the cat to retrieve

# Errors

The Quartino API uses the following error codes:


Error Code | Meaning
---------- | -------
400 | Bad Request -- The specified request is incorrect in some manner.
401 | Unauthorized -- Your API key is incorrect.
403 | Forbidden -- The authenticated user does not have access to this resource.
404 | Not Found -- The specified resource could not be found.
405 | Method Not Allowed -- You tried to access a kitten with an invalid method
406 | Not Acceptable -- A format that isn't json was requested.
410 | Gone -- The requested resource has been removed from our systems.
429 | Too Many Requests -- The server has detected too many requests in too short a period of time. Try slowing down your requests.
500 | Internal Server Error -- There was a problem in the API itself. Likely this is something that should be filed as a bug.
503 | Service Unavailable -- The Quartino API is undergoing maintenance and will be down for a period of time.
